/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f5f5f5 }

@import "~bootstrap/dist/css/bootstrap.min.css";

.active{
    background-color: #8e44ad;
    color: #fff;
}

.main-color{
    color: #3b4f63;
}

.main-color2{
    color: #8e44ad;
}

.main-color3{
    color: #929d9e;
}